* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    color: white;
}

/* CLASSE UTILITY */

.container {
    max-width: 1200px;
    margin: 10px auto;
}

.d-flex {
    display: flex;
}

.colonna {
    flex-direction: column;
}

.list {
    list-style-type: none;
}

.list li {
    display: inline-block;
    padding: 0 15px;
}

.list li a {
    color: white;
    text-decoration: none;
}

.destra {
    text-align: right;
    padding: 10px 10px 10px 0;
}

.sinistra {
    padding: 10px 0 10px 10px;
}

.between {
    justify-content: space-between;
}

.center {
    align-items: center;    
}

/* FINE CLASSE UTILITY */


/* CLASSE UTILITY BACKGROUND */

header {
    background-color: #255ee9;
}

.jumbo {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.grigia {
    background-color: gray;
}

.dark {
    background-color: rgb(50, 49, 49);
}

.rosa {
    background-color: pink;
}

.darkazz {
    background-color: rgb(5, 120, 186);
}

.verde {
    background-color: green;
}

.viola {
    background-color: blueviolet;
}

/* FINE CLASSE UTILITY BACKGROUND */

/* CLASSE UTILITY COL- */

.col-15 {
    width: 15%;
    border: 1px dashed rgb(0, 0, 0);
}

.col-25 {
    width: 25%;
    height: 200px;
    border: 1px dashed rgb(255, 255, 255);
}

.col-30 {
    width: 30%;
    height: 200px;
    border: 1px dashed black;
}

.col-40 {
    width: 40%;
    height: 100px;
    border: 1px dashed black;
}

.col-60 {
    width: 60%;
    height: 100px;
    border: 1px dashed black;
}

.col-70 {
    width: 70%;
    height: 200px;
    border: 1px dashed black;
}

.col-70-2 {
    width: 70%;
    padding: 10px 0;
    border: 1px dashed rgb(0, 0, 0);
    text-align: center;
}

.col-100 {
    width: 100%;
    height: 300px;
    border: 1px dashed black;
}

.col-100-2 {
    width: 100%;
    height: 250px;
    border: 1px dashed black;
}

/* FINE CLASSE UTILITY COL- */

/* CLASSE UTILITY PADDING */

.padding-20 {
    padding: 20px 0;
}

.padding-10 {
    padding: 10px 0;
}

.padding {
    padding: 5px 0 20px;
}

.padding-bottom {
    padding: 20px 0 3px;
}

.padding-top {
    padding: 20px 0 0;
    border-top: 3px solid white;
}

/* FINE CLASSE UTILITY PADDING */

/* CLASSE UTILITY TAG button O a */

.button {
    padding: 10px;
    background-color: white;
    border-radius: 30px;
    text-decoration: none;
    color: black;
}

.button-header-w {
    padding: 10px;
    margin: 0 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.button-header-b {
    padding: 10px;
    margin: 0 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    text-decoration: none;
    color: white;
}

.bottone {
    background-color: pink;
    border: 1px dashed black;
    margin: 20px 0;
    padding: 5px;
}

/* FINE CLASSE UTILITY TAG BUTTON O A */