* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    color: white;
}

/* CLASSE UTILITY */

.container {
    max-width: 1200px;
    margin:0 auto;
}

.d-flex {
    display: flex;
}

.colonna {
    flex-direction: column;
}

.destra {
    text-align: right;
    padding: 10px 10px 10px 0;
}

.sinistra {
    padding: 10px 0 10px 10px;
}

.between {
    justify-content: space-between;
}

.center {
    align-items: center;    
}

.m-top-25 {
    margin-top: 25px;
}

.b-bottom {
    border-bottom: 2px solid #255ee9;
}

/* FINE CLASSE UTILITY */


/* CLASSE UTILITY BACKGROUND */

header {
    background-color: #255ee9;
}

.jumbo {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.stelline {
    background-image: url(../img/stars.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.grigia {
    background-color: rgb(164, 163, 163);
}

footer {
    background-color: rgb(51, 51, 51);
}

/* FINE CLASSE UTILITY BACKGROUND */

/* CLASSE UTILITY COL- */

.col-15 {
    width: 15%;
}

.col-25 {
    width: 25%;
}

.col-30 {
    width: 30%;
}

.col-40 {
    width: 40%;
}

.col-60 {
    width: 60%;
}

.col-70 {
    width: 70%;
}

.col-70-2 {
    width: 70%;
    padding: 10px 0;
    text-align: center;
}

.col-100 {
    width: 100%;
}

/* FINE CLASSE UTILITY COL- */

/* CLASSE UTILITY PADDING */

.padding-full {
    padding: 2%;
}

.p-header {
    padding-top: 10px;
}

.p-header-2 {
    padding: 15px 0 100px;
}

.padding-20 {
    padding: 20px 0;
}

.padding-10 {
    padding: 10px 0;
}

.padding {
    padding: 5px 0 20px;
}

.p-foot {
    padding-bottom: 60px;
}

/* FINE CLASSE UTILITY PADDING */

/* CLASSE UTILITY TAG button O a */

.button {
    padding: 6px 12px;
    background-color: white;
    border-radius: 30px;
    text-decoration: none;
    color: black;
}

.button-header-w {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.button-header-b {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    text-decoration: none;
    color: white;
}

.button-mac {
    padding: 10px;
    margin: 20px 0 40px;
    background-color: rgb(36, 50, 198);
    border-radius: 30px;
    text-decoration: none;
    color: white;
}

.button-foot {
    background-color: rgb(36, 50, 198);
    border-radius: 30px;
    text-decoration: none;
    color: white;
    padding: 10px;
}

/* FINE CLASSE UTILITY TAG BUTTON O A */

/* CLASSI FONT */

.size-320 {
    font-size: 320%;
}

.size-180 {
    font-size: 180%;
}


/* FINE CLASSI FONT */

/* CLASSI DEDICATE AI TAG ul - ol - li */

.list {
    list-style-type: none;
}

.list li {
    display: inline-block;
    padding: 0 15px;
}

.list li a {
    color: white;
    text-decoration: none;
}

.list-foot {
    list-style-type: none;
}

.list-foot li {
    padding: 5px 0;
    font-size: 120%;
}

.list-foot strong {
   color: #255ee9;
   font-size: 120%;
}

/* FINE CLASSI DEDICATE AI TAG ul - ol - li */